:root {
    --logo-png: url("../../assets/logod.png");
    --color-text: rgb(214, 214, 214);
    --secondary-color: rgb(239, 155, 0);
    --darker-secondary-color: rgb(222, 138, 0);
    --main-background: rgb(31, 31, 31);
    --background1: rgb(18, 18, 18);
    --background2: rgb(98, 98, 98);
    --background3: rgba(47, 47, 47, 0.768);
    --background4: rgb(34, 34, 34);
    --background5: rgb(24, 24, 24);
    --shadow-color: rgb(12, 12, 12, 0.500);
    --short-buttons-width: 60px;
    --wide-buttons-width: 120px;
}

html {
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

*::selection {
    background-color: var(--secondary-color);
    color: var(--main-background);
}

.short_button {
    width: var(--short-buttons-width);
    height: var(--short-buttons-width);
    background-color: var(--secondary-color);
    border: 5px solid var(--main-background);
    color: var(--background1);
    border-radius: 50px;
}

.wide_button {
    width: var(--wide-buttons-width);
    height: var(--short-buttons-width);
    background-color: var(--secondary-color);
    border: 5px solid var(--main-background);
    color: var(--background1);
    border-radius: 50px;
}

.short_button:hover, .wide_button:hover {
    background-color: var(--darker-secondary-color);
}

body {
    margin:0;
    color: var(--color-text);
    background-color: var(--main-background);
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: var(--background1);
    box-shadow: 0 0 10px 2px var(--shadow-color);
}

header {
    position: sticky;
    top:0;
    z-index: 1;
    width: 100%
}

img {
    user-select: none;
}

input, textarea {
    padding: 0;
    border: none;
    outline: none;
    color: var(--secondary-color);
    background-color: var(--background1);
}

input:invalid {
    border: 5px solid red;
}

input:valid {
    border: 5px solid var(--background1);
}

textarea {
    font-size: large;
    resize: none;
}

input::placeholder, textarea::placeholder {
    opacity: .5;
    color: var(--secondary-color)
}

button {
    cursor: pointer;
}

select { cursor: pointer }

input:disabled,
textarea:disabled,
button:disabled {
    cursor: not-allowed;
    visibility: .5;
    color: var(--background1);
    border-color: var(--background3);
    background-color: var(--background2);
}

input:disabled::placeholder,
textarea:disabled::placeholder {
    color: var(--background1)
}

button:disabled:hover {
    background-color: var(--background2);
}

#not-found {
    display: none;
    justify-items: center;
    align-items: center;
    color: var(--color-text);
    gap: 12px;
}

#not-found h4{
    text-align: center;
}

.loading-paused {
    position: relative;
    display: none;
    border: solid;
    width:50px;
    height:50px;
    border-color: var(--secondary-color) transparent;
    border-radius: 50px;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-play-state: paused;
    border-width: 10px;
}

.loading-running {
    position: relative;
    display: block;
    border: solid;
    width:50px;
    height:50px;
    border-color: var(--secondary-color) transparent;
    border-radius: 50px;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-play-state: running;
    border-width: 10px;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {transform: rotate(360deg)}
}

#main-page-menu {
    background-image: var(--logo-png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    background-color: var(--background3);
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 100px;
}

#post-img-ctn, #post-img-ctn-login {
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}

#post-img-ctn:hover, #post-img-ctn-login:hover  {
    transform: scale(1.05);
}

#post-img {
    height: 50px;
}

#profile-home-ctn, #do-login {
    display: flex;
    height: 100%;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#profile-page-link {
    cursor: pointer;
    background-color: var(--background3);
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-text);
    /* gap: 5px; */
}

#profile-name {
    margin: 0 5px 0 10px
}

#profile-img-ctn {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--main-background);
    border-radius: 50px;
}

#profile-img {
    clip-path: circle(50%);
    height: 50px;
    width: 50px;
    background-color: var(--background2);
}

#account-configs {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--background3); */
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#configs-arrow {
    height: 20px;
    width: 20px;
    border-width: 5px;
    transform: rotate(316deg);
    margin-top: 10px;
    /* margin-right: 1px; */
    border-color: var(--secondary-color) var(--secondary-color) transparent transparent;
    transition: all 300ms;
    border-style: solid;
}

#configs-ctn{
    display: grid;
    width: fit-content;
    height: fit-content;
}

#configs {
    position: absolute;
    background-color: var(--background5);
    top: 100%;
    right: calc(25% - 50px);
    height: 0;
    overflow: hidden;
    box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.141);
}

.config-option {
    gap: 5px;
    width: 100px;
    height: 35px;
}

.config-option:hover {
    color: black;
    background-color: var(--darker-secondary-color);
}

#logout{
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-link-ctn {
    display:flex;
    position:absolute;
    align-items: center;
    justify-content: start;
    height: inherit;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
}

#logo-ctn {
    text-decoration: none;
}

#logo-ctn:hover {
    text-decoration:underline var(--secondary-color);
}

#logo-img {
    position: relative;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: black;
    border: 0;
    right: 26px;
    pointer-events: all;
    color: var(--color-text);
    transform: rotate(90deg);
    height: 40px;
    width: 90px;
}

/* Conteiner de login */
#login-register-ctn {
    position: fixed;
    display: flex;
    z-index: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#dark-background {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.442);
}

.switch-form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.exit {
    position: absolute;
    height:40px;
    width: 50px;
    border: none;
    border-radius: 0 14px 0 14px;
    background-color: rgba(255, 166, 0, 0.441);
    right: 0;
    top: 0;
}

.exit:hover {
    background-color: var(--secondary-color);
}

#login-dropdown-signup-link,
#signup-dropdown-login-link {
    cursor: pointer;
    color: var(--secondary-color);
}

#login-dropdown-signup-link:hover,
#signup-dropdown-login-link:hover {
    text-decoration: underline var(--secondary-color);
}

#login, #register, #insert-code-ctn  {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 25px);
    max-width: 400px;
    height: 400px;
    border-radius: 14px;
    background-color: var(--background4);
}

#login {
    display: flex;
}

#login-advice {
    position: absolute;
    bottom: 0;
}

#insert-code-ctn {
    gap: 30px;
    display: none;
}

#register {
    display: none;
}

#login-form, #register-form {
    display: grid;
    height: fit-content;
    width: 100%;
    gap: 14px;
    align-content: center;
    justify-items: center;
}

#login_input,
#passw_input,
#login-register,
#passw-register,
#input-name {
    height: 50px;
    border: 5px solid var(--background3);
    border-radius: 10px;
    width: calc(100% - 30px)
}

#log, #register-bttn {
    width: calc(100% - 50px);
}

#send-code-h2 {
    text-align: center;
    margin: 20px 0 0 0;
}

#insert-code-input {
    font-size: 60px;
    text-align: center;
    height: 100px;
    width: 100px
}

#send-code-bttn {
    width: 300px
}

@media screen and (max-width: 500px){
    #main-page-menu {
        background-size: 125%;
    }
    #profile-name {
        display:none;
    }
}