@import url("Consts.css");

:root {
    --arrow-left-display: none;
    --arrow-right-display: block;
}

body {
    display: grid;
    align-items: center;
    margin: 0;
    height: 100%;
    color: var(--color-text);
    background-color: var(--main-background);
}

main {
    display: flex;
    width: 100vw;
    height: calc(100vh - 100px);
    justify-content: center;
}

#send-ad {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background4);
    box-shadow: 0 0 15px 1px var(--shadow-color);
    border-radius: 14px;
    width: calc(100% - 50px);
    max-width: 1050px;
    height: calc(100vh - 130px);
    max-height: 800px;
}

#show-imgs-arrows-ctn {
    position: relative;
    flex:1;
    width: 400px
}

#show-imgs-arrows-ctn::before, #show-imgs-arrows-ctn::after {
    content: "";
    position: absolute;
    z-index: 1;
    opacity: .7;
    border: solid var(--secondary-color);
    width: 20px;
    height: 20px;
}

#show-imgs-arrows-ctn::before {
    display: var(--arrow-right-display);
    right: 15px;
    bottom: 50%;
    border-width: 10px 10px 0 0;
    transform: rotate(45deg);
}

#show-imgs-arrows-ctn::after {
    display: var(--arrow-left-display);
    left: 15px;
    bottom: 50%;
    border-width: 0 0 10px 10px;
    transform: rotate(45deg);
}

#show-images-ctn {
    width: 100%;
    height: 400px;
    overflow: auto;
    scroll-behavior: smooth;
}

#show-images-ctn::-webkit-scrollbar {
    display:none;
}

#upload-image-bttn {
    z-index: 1;
    background-color: transparent;
    opacity: .5;
}
#upload-image-bttn:hover {
    background-color: var(--secondary-color);
    opacity: .9;
}

#upload-images-ctn {
    display: flex;
    flex-direction: row;
    gap: 1%;
    width: min-content;
    height: 100%;
}

.upload-image-ctn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    background-color: var(--background2);
}

.uploaded-image-to-post {
    display: none;
    object-fit: contain;
    position: absolute;
    height: 100%;
    width: 100%;
}

#upload-bttn-ctn {
    text-align: end;
    width: var(--wide-buttons-width);
}

#upload-images-input {
    width: 100%
}

#upload-images-input::file-selector-button {
    border:none;
    background-color: inherit;
    width: 100%;
    height: 100%;
}

#info-and-submit-ctn {
    display: flex;
    position: relative;
    flex-direction: column;
    box-shadow: -2px 0px 10px 1px var(--shadow-color);
    background-color: var(--background3);
    width: 400px;
    border-radius: 0 14px 14px 0;
    height: 100%;
}

#info-ctn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-ctn {
    display: grid;
    margin: 10px 12px 0 12px;
    gap: 12px;
    width: 100%;
    justify-items: center;
}

#title_and_maxChars{
    display:flex;
    justify-content: center;
    position: relative;
    width: 100%
}

#title {
    display: flex;
    border: 5px solid var(--background3);
    width: 100%;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}

#char-count {
    position: absolute;
    bottom: 10px;
    right: 15px
}

#price {
    border: 5px solid var(--background3);
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 8px;
}

#post-or-cancel {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    border-radius: 0 0 14px 0;
    height: 100px;
    width: 100%
}

#title::placeholder, #price::placeholder {
    opacity: .7;
}

#advice {
    position: absolute;
    color: red;
    background-color: black;
    text-wrap-mode:nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    width: 100%;
    margin: 0;
    bottom: 0;
    display: none
}

@media screen and (max-width: 750px){
    #send-ad {
        display: flex;
        flex-direction: column;
        max-width: none;
        width: calc(100vw - 30px);
    }

    #show-imgs-arrows-ctn {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
    }
    
    #info-and-submit-ctn {
        border-radius: 0 0 14px 14px;
        flex: 1;
        box-shadow: 0 0 10px 1px var(--shadow-color);
        /* height: 400px; */
        width: 100%;
    }
    
    #show-images-ctn {
        flex: 1;
        border-radius: 14px 14px 0 0;
        width: 100%
    }
}