@import url("Consts.css");

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    /* height: calc(100vh - 100px); */
    align-items: center;
}

h2,h3 {
    margin: 0;
}

#post-img-ctn {
    display:flex;
    align-items: center;
    justify-content: center;
}

#post-img-ctn:hover {
    transform: scale(1.05);
}

#post-img {
    height: 50px;
}

#profile-infos {
    position: relative;
    gap: 20px;
    margin-top: 20px;
    display: flex;
    padding: 15px;
    height: fit-content;
    align-items: center;
    width: 100%;
    background-color: var(--background4);
}

#profile-user-img-ctn {
    background-color: var(--background1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid var(--background3);
}

#user-profile-img {
    object-fit: cover;
    clip-path: circle(50%);
    width: 120px;
    height: 120px;
}

#profile-ads {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ads-ctn-title {
    width: 100%;
    height: fit-content;
    background-color: var(--background3);
    padding: 12px;
    margin: 0;
}

#ads-list {
    flex: 1;
    width: calc(100% - 10px);
    max-width: 1640px;
    display: flex;
    padding: 20px 0 0 0;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.main-ad-ctn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 250px;
}

.ad-ctn {
    position: relative;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    color: var(--color-text);
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    background-color: var(--background1);
    /* max-width: 250px; */
    padding: 10px;
    height: max-content;
    max-height: 800px;
}

.ad-ctn:hover {
    transform: scale(1.05);
}

.delete {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: medium;
    cursor: pointer;
    top: -10px;
    z-index:0;
    right: -10px;
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 50%;
}

.delete:hover {
    transform: scale(1.2);
}

.img-ctn {
    object-fit: contain;
    height: 250px;
    width: 100%;
    background-color: var(--background2);
}

.ad-infos {
    display: grid;
    gap: 10px;
    margin: 0;
    align-content: center;
    /* justify-items: center; */
    background-color: var(--background3);
    flex: 1;
}

.ad-price {
    margin:5px;
    color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
    .main-ad-ctn {
        max-width: none;
    }

    .ad-ctn:hover{
        transform: none;
    }
}

